PORT=5002
MONGODB_URI=mongodb+srv://deveshpratap7757_db_user:<db_password>@cluster0.0y0ewul.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=deeksha_caterers
JWT_SECRET=your_strong_secret
CORS_ORIGINS=https://hotinflame.vercel.app,http://localhost:3000,http://localhost:5002,http://localhost:5500,http://127.0.0.1:5500
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
